<!DOCTYPE html>
<html ng-app="clientOnlyState">
  <head>
    <title>angular-watch-client-only-state</title>
  </head>
  <body>

  	<div ng-controller="MessageCtrl">
  	</div>

    <divi ng-controller="ListCtrl">
      <ul>
        <li ng-repeat="article in articles" ng-click="selectArticle(article)">{{article.title}}</li>
      </ul>
    </div>

    <div ng-controller="DetailCtrl">
  		<p>{{article.title}} by {{article.author}}</p>
  		<p>{{article.state}}</p>
  		<button ng-click="save(article)" ng-disabled="!article">Save</button>
  	</div>

    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-mocks/angular-mocks.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="app.js"></script>
    <script src="controllers.js"></script>
    <script src="services.js"></script>
  </body>
</html>